/**
 * Fonts
 */
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700,600,300,900');

body {
  background: #fff;
  font-family: 'Montserrat';
  font-size: 10pt;
  color: #58626e;
  padding-top: 95px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #346cb9;
  transition: color 200ms ease;
}
a:hover {
  color: #58626e;
}

/**
 * Forms
 */
input {
  font-family: 'Montserrat';
  font-size: 10pt;
  color: #58626e;
}

/**
 * Typography
 */
p {
  line-height: 25px;
  margin: 20px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web';
  font-weight: 300;
  color: #346cb9;
  margin-bottom: 20px;
  letter-spacing: .1em;
  line-height: 1.2em;
}
h1 { font-size: 30pt; }
h2 { font-size: 26pt; }
h3 { font-size: 22pt; }
h4 { font-size: 18pt; }
h5 { font-size: 14pt; }
h6 { font-size: 10pt; }
strong {
  font-weight: 700;
}
.alpha50 {
  opacity: .5;
}

/**
 * Chrome
 */
.chrome .container {
  background: url('../img/chrome.png') no-repeat left bottom;
  height: 100%;
}

/**
 * Helpers
 */
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

/**
 * Buttons
 */
button,
.button {
  display: inline-block;
  *zoom: 1;
  *display: 1;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  background: #346cb9;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 8pt;
  letter-spacing: 2px;
  box-shadow: 0 2px 0 #295694;
}
.button:focus,
.button:active,
button:focus,
button:active {
  background: #295694;
  box-shadow: none;
}
.button .fa,
button .fa {
  font-size: 24px;
  vertical-align: middle;
  opacity: .5;
}

/**
 * Feature
 */
.feature {
  padding: 10px;
  height: 350px;
}
.feature h3 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: .2em;
}
.feature .icon-featured {
  background: #d8dfe9;
  color: #fff;
  font-size: 32px;
  border-radius: 100px;
}

/**
 * Header
 */
.header {
  top: 0;
  height: 70px;
  background: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px #d8dfe9 solid;
  z-index: 999;
}

/**
 * Nav
 */
.header .nav {
  display: inline-block;
  *zoom: 1;
  *display: 1;
  height: 70px;
  line-height: 70px;
}
.header .nav li {
  display: inline;
}
.header .nav li a {
  display: inline-block;
  *zoom: 1;
  *display: 1;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  color: #58626e;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 500ms ease;
}
.header .nav li a:hover {
  color: #346cb9;
}
.header .nav li.active a {
  background: #346cb9;
  color: #fff;
  border-radius: 3px;
}

/**
 * icon-group
 */
.icon-group {
  display: inline;
}
.icon-group li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 48px;
  line-height: 48px;
  width: 48px;
  font-size: 48px;
  text-align: center;
  margin: 0 5px;
  vertical-align: middle;
}
.icon-group.small li {
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 32px;
}
.icon-group.x-small li {
  height: 24px;
  line-height: 24px;
  width: 24px;
  font-size: 24px;
}
.icon-group.xs-small li {
  height: 16px;
  line-height: 16px;
  width: 16px;
  font-size: 16px;
}
.icon-featured {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 96px;
  line-height: 96px;
  width: 96px;
  font-size: 96px;
  text-align: center;
  margin: 0 5px;
  vertical-align: middle;
}
.icon-group.circles li {
  
  border-radius: 100%;
  font-size: 125%;
  transition: all 200ms ease;
  cursor: pointer;



  background: #fff;
  color: #d8dfe9;
  border: 2px #d8dfe9 solid;
}
.icon-group.circles li:hover {
  background: #d8dfe9;
  color: #fff;
}

/**
 * Box
 */
.box {
  padding: 60px;
}

/**
 * search
 */
.search {
  display: inline-block;
  height: 30px;
  overflow: hidden;
  border: 2px #d8dfe9 solid;
  vertical-align: middle;
  border-radius: 3px;
}
.search input[type="text"] {
  float: left;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  background: transparent;
  border: none;
  margin: 0;
  vertical-align: top;
  width: 75px;
  outline: none;
  transition: width 200ms ease;
}
.search input[type="text"]:focus {
  width: 125px;
}
.search button {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: red;
  padding: 0;
  border-radius: 0;
  background: transparent;
  border-left: 1px #d8dfe9 dashed;
  color: #58626e;
}
.search button .fa {
  font-size: 16px;
}

/**
 * Footer
 */
.footer h4 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: .2em;
}
.footer p {
  padding-right: 20px;
}

/**
 * Links
 */
ul.links li {
  margin-bottom: 1px;
}
ul.links li:last-child {
  border: none;
}
ul.links li a {
  display: block;
  height: 30px;
  line-height: 30px;
  border: 1px transparent solid;
  border-radius: 3px;
  padding: 0 10px;
  transition: border 200ms ease;
}
ul.links li a:hover {
  border: 1px #d8dfe9 solid;
}

/**
 * Logo
 */
.logo {
  line-height: 65px;
}
.logo img {
  vertical-align: middle;
}

h1.centered {
  height: 25px;
  line-height: 50px;
  border-bottom: 1px #d8dfe9 solid;
  margin-bottom: 80px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: .2em;

}
h1.centered span {
  background: #fff;
  padding: 0 20px;
}
/**
 * testimonial
 */
.testimonial {
  overflow: hidden;
  margin-bottom: 40px;
  padding-right: 20px;
}
.testimonial .profile {
  height: 60px;
  width: 60px;
  background-position: center center;
  background-size: auto 75px;
  background-repeat: no-repeat;
  border-radius: 100px;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  top: 10px;
  opacity: .75;
}
.testimonial h4 {
    font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 10pt;
  letter-spacing: .2em;
}
.testimonial .body {
  margin-left: 90px;
  padding-right: 20px;
}
.testimonial .body p:first-child {
  margin-top: 0;
}
/**
 * Sections
 */
.section {
  background: #fff;
}
.section.highlight {
  background: #d8dfe9;
}
.section.blueprint {
  background: #346cb9;
  color: #fff;
}
.section.blueprint .button,
.section.blueprint button {
  background: transparent;
  color: #fff;
  border: 1px #fff solid;
  box-shadow: none;
  transition: background 200ms ease;
}
.section.blueprint .button:hover,
.section.blueprint button:hover {
  background: rgba(255,255,255,.1);
}
.section.blueprint h1,
.section.blueprint h2,
.section.blueprint h3,
.section.blueprint h4,
.section.blueprint h5,
.section.blueprint h6 {
  color: #fff;
}